@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

html {
	font-family: 'Roboto', sans-serif;
	background-color: #fcfcfc;
	color: #37454D;
	font-weight: 300;
	height:100%;
	margin:0;
}

body {
	height:100%;
	margin: 0;
}

.desk-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.desk-row {
	flex-direction: row;
	display: flex;
}

.desk {
	position: relative;
	width: 20vw;
	height: 45vh;
	background-color: green;
	margin: 1vh 1vw;
	color: #fcfcfc;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
	
}

.info-pane {
	padding: 0 4vmax;
	text-align: justify;
	font-size: 2vmax;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

.checkout-pane {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 2vh 0;
	display: none;
	font-size: 3vw;
	border-top: 1px solid black;
}

.booking-pane {
	padding: 5vh 0 2vw 0;
	font-size: 4vw;
	
}

h1 {
	font-size: 5vw;
	text-align: left;
	font-weight: 300;
}

.status {
	position: absolute;
	top: 0;
	font-size: 2vw;
	padding: 5vh 0 0 0;
	width: 100%
}

p {
	margin:1vh 0;
}

h1 {
	margin-bottom: 3vh;
}

h3 {
	margin: 2vh 0;
}

h2 {
	margin: 0;
}